<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script type="text/javascript" src="{{ url_for('static',filename='script/cities.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='script/crops.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <title>Utilization of fertilization</title>
        {% block head %} {% endblock %}
    </head>

    <body>
        {% block body %} {% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script/button.js') }}"></script>

</html>